<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  <title>Skapa ditt CV</title>
</head>

<body>
    <section id="main">
        <h1>Skapa ditt CV med formuläret nedan!</h1>
        <% if(errors.message) { %>
            <ul> 
                <li>
                    <%= errors.details %>
                </li>
            </ul>
            <% }; %>

        <form id="form" method="post">
            <label for="company">Företag:</label>
            <input type="text" name="companyname" id="companyname" value="<%= companyname %>">
            <label for="jobtitle">Befattningsroll:</label>
            <input type="text" name="jobtitle" id="jobtitle" placeholder="IT-support..." value="<%= jobtitle %>">
            <label for="location">Ort:</label>
            <input type="text" name="location" id="location" value="<%= location %>">
            <label for="startdate">Startdatum:</label>
            <input type="date" id="startdate" name="startdate" value="<%= startdate %>">
            <label for="enddate">Slutdatum:</label>
            <input type="date" id="enddate" name="enddate" value="<%= enddate %>">
            <label for="description">Rollbeskrivning:</label>
            <textarea id="description" name="description" placeholder="Supporterade slutanvändare på kontor och ute i fält med mjukvaru- och hårdvaruproblem"><%= description %></textarea>
            <input type="submit" value="Skicka till CV">
        </form>
    </section>
</body>

</html>